* {
    box-sizing: border-box;
}

.calc {
    background-color: black;
    color: white;
    max-width: 18%;
}

.result-line{
    color: white;
    height: 100px;
    display: flex;
    align-content: stretch;
}

.result {
    font-size: 40px;
    font-family: "Courier New", Courier, monospace;
    text-align: right;
    width: 90%;
}

.operator{
    width: 10%;
    font-size: 30px;
    font-family: "Courier New", Courier, monospace;
    text-align: right;
    margin-top: 50px;
    margin-right: 10px;
    vertical-align: center;
    color: #df974c;
}

.line {
    display: flex;
    align-content: stretch;
    justify-content: space-between;
    margin-bottom: 0.7%;
}

.common-button{
    background-color: #d8d9db;
    color: black;
    height: 100px;
    width: 24.5%;
    border: none;
    border-radius: 0;
    font-size: 40px;
    cursor: pointer;
}


.common-button:hover{
    background-color:#ebebeb;
}

.common-button:active{
    background-color: #bbbcbe;
}

.common-button:last-child{
    background-color: #df974c;
    color: white;
}

.common-button:last-child:hover{
    background-color: #dfb07e;
}

.common-button:last-child:active{
    background-color: #dd8d37;
}

.size-2{
    width: 49.7%;
}

.size-3{
    width: 75%;
}
